PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auto_profit?schema=public"
SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auto_profit_shadow?schema=public"
SWAGGER_DOCS=true
SWAGGER_ROUTE=api
API_DOCS_UI=scalar
