NODE_ENV=development
SERVICE_NAME=auth-service
PORT=3002

DATABASE_URL="postgresql://postgres:0000@localhost:5432/autoprofit?schema=auth"
SHADOW_DATABASE_URL="postgresql://postgres:0000@localhost:5432/autoprofit_shadow?schema=auth"

RABBITMQ_URL="amqp://localhost:5672"

JWT_SECRET="development-secret"
JWT_EXPIRES_IN="1d"

SWAGGER_DOCS=true
SWAGGER_ROUTE=api
API_DOCS_UI=scalar
