NODE_ENV=development
SERVICE_NAME=pricing-service
PORT=3005
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/autoprofit?schema=public"
RABBITMQ_URL="amqp://localhost:5672"
JWT_SECRET="development-secret"
SWAGGER_DOCS=true
SWAGGER_ROUTE=api
API_DOCS_UI=scalar
