NODE_ENV=development
SERVICE_NAME=pricing-service
PORT=3005
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/autoprofit?schema=pricing"
SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost:5433/autoprofit_shadow?schema=pricing"
VEHICLE_SERVICE_URL="http://localhost:3003"
EXPENSE_SERVICE_URL="http://localhost:3004"
RABBITMQ_URL="amqp://localhost:5672"
SWAGGER_DOCS=true
SWAGGER_ROUTE=api
API_DOCS_UI=scalar
